{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/login.css' %}">
</head>
<body>
    <br> <br>
    <!-- templates/registration/login.html -->
    <div class="loginForm">
        <div class="loginText">
            <h2>Login <a href="{% url 'signup' %}" style="color: lightgray">Sign up</a></h2>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="loginUsernameAndPassword">
                <br>
                <label>Username:</label><br>

                <div id="username">
                    {{ form.username }}
                </div>

                <br>

                <label>Password:</label>
                <br>
                <div id="password">
                    {{ form.password }}

                </div>
                <br>
            </div>
            <br>
            <button type="submit">Login</button>
            <a href="/" style="color: white">Cancel</a>
         </form>
        <p>{{ form.errors }}</p>
        <br>

    </div>
</body>
</html>

{% endblock content %}