{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?version=125">
  </head>
  <body>
    <center>
        
      <a href="/" style="text-decoration: none; color: black"><h1 style="text-align: center; font-size: 50px; letter-spacing: 1px; font-family: 'Sacramento', cursive;" class="cursive">
          <!--<img src="{% static 'swoab_logo.png' %}" style="width: 10%; margin-left: 0"> -->SecretWorldOfABook</h1>
           <img src="{% static 'images/logo.png' %}" style="width: 5%;"></a>
        <hr style="border-top: 2px solid black;">
      <div class="nav-bar-div">
        <ul>
            <li>
                <a href="/" style="font-size: 16px; padding-top: 8px">Home</a>
            </li>
            <li>
                <a href="{% url 'email' %}">Contact</a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout | {{ user.username }}</a>
                    <a href="{% url 'profile' %}" style="padding-left: 25px">Profile</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        
        </ul>
        </div>

      {% block content %}

      {% endblock content %}

  </center>
  </body>
</html>
