{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}?version=1">
</head>
<body>
    <br><br>
    <div class="contactForm">
        <div class="contactText">
            <h1>Contact Us</h1>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="contactFields">
                <br>
                <label>Your email:</label>
                <br>
                {{ form.from_email }}<br><br>

                <label>Verify email:</label>
                <br>
                {{ form.ver_email }}<br><br>
                <label>Subject:</label>
                <br>
                {{ form.subject }}<br><br>
                <label>Message:</label>
                <br>
                {{ form.message }}<br><br>


            </div>
            <br>

             <div class="form-actions">
                    <button type="submit">Send</button>
                    <a href="/" style="color: white">Cancel</a>
                </div><br>
        </form>
        {{form.errors}}

    </div>
</body>
</html>

{% endblock content %}