{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}?version=123">
</head>
<body>
    <br><br>
    <div class="contactForm">
        <div class="contactText">
            <h1>Contact Us</h1>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="contactFields">
                <br>

                <h4>Email could not be sent</h4>

                <br><br>


            </div>
            <br>

             <div class="form-actions">
                 <a href="/email/" style="color: white; font-size: 24px">Retry</a>
                </div><br>
        </form>

    </div>
</body>
</html>

{% endblock content %}