{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    {% if user.is_superuser %}

        <p><a href="{% url 'control_panel' %}">Control panel access for superuser</a></p>
    {% endif %}
    {% if user.is_authenticated %}

        <u><h4 style="font-size: 22px">{{user.username}}</h4></u>

        <h4>User ID: {{ user.id }}</h4>

        <h4>Member since: {{ user.date_joined }} </h4>
        <h3>Activity</h3>
        <h4>Last login: {{ user.last_login }}</h4>

        <h4>Number of comments: {{ overall_comments }}</h4>
        <br>

        <h4>Number of posts liked: {{ posts_liked }}</h4>
        <br>

        <h4>Number of interactions: {{total_num_of_interactions}}</h4>
        <br>

        <h4>Posts you have commented on: </h4>

        {% for blog_title in commented_on_post_titles %}

            <a href="{% url 'post_detail' pk=blog_title.id %}">
            <h4>{{blog_title}}</h4>
            </a>

        {% endfor %}


        <h4>Posts you have liked: </h4>

        {% for blog_title in liked_post_titles %}
            <a href="{% url 'post_detail' pk=blog_title.id %}">
            <h4>{{blog_title}}</h4>
            </a>
        {% endfor %}

        <!--
        <h4>Posts you have interacted with: </h4>
        <ul>
            <li>{{titles}}</li>

            {% for blog_title in blog_titles %}
                <h4>{{blog_title}}</h4>
            {% endfor %}
        </ul>
        -->

    {% else %}

        <h3>You are not logged in</h3>
        <a href="{% url 'login' %}">Login</a>


    {% endif %}

</body>
</html>
{% endblock content %}