.contactForm{
    position: relative;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 2px black solid;
    background-color: #e2b6b6;
}

.contactText {
    background-color: #e2b6b6;
    color: whitesmoke;
}

.contactFields{
    background-color: #f2f2f2;
}
