.loginForm{
    position: relative;
    min-width: 20%;
    text-align: center;
    margin: 0 auto;
    border: 2px black solid;
    background-color: #e2b6b6;
    display: inline-block;
}
ul{
    list-style: none;
}
.loginText {
    background-color: #e2b6b6;
    color: whitesmoke;
    width: 100%;
}

.loginUsernameAndPassword{
    background-color: #e2b6b6;
}