@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans:300);

@import url('https://fonts.googleapis.com/css?family=Sacramento');
body {
	background-color: #f0d8d8 !important;
	margin: 0 auto;
}

.cursive{
    font-family: 'Sacramento', cursive;
}

/* .page-header {
     background-color: #3399ff;
     margin-top: 0;
     padding: 20px 20px 20px 40px;
}
 .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
     color: white;
     font-size: 36pt;
     text-decoration: none;
     text-align: center;
}
 */

.container h2{
    font-family: 'Sacramento', cursive;
    
}

.page-header {
	text-align: center;
}

.content {
	color: black;
	width: 100%;
	margin: 0 auto;
}

.post p {
	font-family: 'Sacramento', cursive;
	font-size: 36px;
}

.date {
	float: right;
}

.save {
	float: right;
}

.post-form textarea,
.post-form input {
	width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
	float: right;
	font-size: 26pt;
	margin-right: 20px;
}


/* ************************************* */

input[type="checkbox"]+label {
	z-index: 100;
	overflow: hidden;
	height: 6em;
	width: 6em;
	left: calc(50% - 3em);
	top: calc(50% - 3em);
	display: block;
	text-align: center;
	line-height: 95px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	border-radius: 50%;
}

input[type="checkbox"]+label:before {
	content: '';
	z-index: -1;
	position: absolute;
	background: rgb(220, 72, 127);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
}

input[type="checkbox"]+label:after {
	content: '';
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
}

input[type="checkbox"]:checked+label svg {
	-webkit-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	fill: rgb(220, 72, 127);
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

input[type="checkbox"]:checked+label:after {
	-webkit-animation: like-a 0.3s 0.2s forwards;
	-moz-animation: like-a 0.3s 0.2s forwards;
	animation: like-a 0.3s 0.2s forwards;
}

input[type="checkbox"]:checked+label:before {
	-webkit-animation: like-a 0.5s 0s forwards;
	-moz-animation: like-a 0.5s 0s forwards;
	animation: like-a 0.5s 0s forwards;
}

label svg {
	display: inline-flex;
	vertical-align: middle;
	width: 35px;
	fill: rgb(167, 167, 167);
}

input[type="checkbox"] {
	display: none;
}

.post {
	background-color: #ffffff;
	margin-right: 5%;
	margin-left: 5%;
	overflow: hidden;
    max-width: 85em;
    width: 80%;
}

.nav-bar-div ul li{
    display: inline-block !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: black;
    
}

.nav-bar-div a, .niv-bar-div:visited{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}


.stayAtBottomOfPost {
	width: 100%;
	margin-bottom: 0;
}

ul {
	padding-left: 0;
	margin-left: 0;
}

nav {
	width: 100%;
	height: 40px;
	background-color: #e2b6b6;
	text-align: center;
}

nav a {
	display: block;
	float: left;
	color: white;
	font-family: sans-serif;
	font-size: 14px;
	text-decoration: none;
	padding: 10px;
}

nav a:hover {
	background-color: #f0d8d8;
	text-decoration: none;
	color: white;
}

*,
*:before,
*:after {
	@include box-sizing(border-box)
}

.blog {
	margin: 2em 0;
	text-align: center;
	width: 100%;
	padding-top: 2%;
}

.post {
	margin: 2em 0;
	text-align: center;
	width: 80%;
	padding-top: 2%;
}

.post img {
	height: auto;
	margin: 0 0 10px;
    max-width: 80%;
}

.post h2{
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 48px;
}

ul.blog-post {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%;
}

ul.blog-post li {
	display: inline-block;
	border-radius: 3px;
	padding: 1.5em;
	width: 400px;
	margin: 0 0 2.5% 2.5%;
	background: #ffffff;
	border: 1px solid #eee;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.blog-post li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.blog-post li h3 {
	margin: 0.6em 0 0.6em;
	text-align: left!important;
	font-family: Source Sans Pro, sans-serif;
	color: #333;
	font-size: 1.1em;
}

ul.blog-post li p {
	margin: 0.6em 0 1.3em;
	font-size: .9em;
	line-height: 1.5em;
	color: black;
	text-align: left!important;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
}

.button {
	text-align: center;
	width: 10em;
	border: none;
	background: #e2b6b6;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: white;
	border-radius: 5px;
	padding: 8px 15px 8px 15px;
}

.button:hover {
	opacity: 0.9;
	cursor: pointer;
}

.columns-2 li {
	width: 37%;
}

@media screen and (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.blog-post {
		margin-left: 0;
	}
	ul.blog-post li {
		width: 100% !important;
		margin: 0 0 20px;
	}
}

.meta{
    font-size: 36px !important; 
    color: black; 
    font-family: 'Sacramento', cursive !important;
}