{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <style>
        th, td {
            border-bottom: 1px solid #ddd;
            padding: 15px;
            text-align: left;
        }

    </style>

</head>
<body>
    {% if user.is_superuser %}
        <p>{{user.username}} = superuser</p>
        <h3>Posts</h3>
        <table>
            <tr>

                <th>Author</th>
                <th>Title</th>
                <th>Text</th>
                <th>Likes</th>
                <th>Comments</th>
                <th>Upload date</th>
                <th>ID</th>

            </tr>
            {% for post in object_list %}
            <tr>

                <td>{{post.author}}</td>
                <td>{{post.title|truncatechars:10}}</td>
                <td>{{post.text|truncatechars:10}}</td>
                <td>{{post.likes.count}}</td>
                <td>{{post.comments.count}}</td>
                <td>{{post.created_date}}</td>
                <td>{# {{post.id}} #}
                    <form method="post" action="/control_panel/">
                        {% csrf_token %}
                        <input type="text" name="id" value="{{post.id}}" style="width: 40px" readonly>
                        <input type="submit" value="Delete" name="delete">

                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>
        <h3>Users</h3>
        <table>
            <tr>

                <th>Username</th>
                <th>Joined date</th>
                <th>ID</th>
            </tr>
            {% for user in user_list %}
            <tr>

                <td>{{user.username}}</td>
                <td>{{user.date_joined}}</td>

                <td>
                <form method="post" action="/control_panel/">
                        {% csrf_token %}
                        <input type="text" name="userId" value="{{user.id}}" style="width: 40px" readonly>
                        <input type="submit" value="Delete" name="delete-user">

                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3>Admins</h3>
        <table>
            <tr>

                <th>ID</th>
                <th>Username</th>

            </tr>

                {% for staff in staff_list %}
            <tr>
                <td>{{staff.id}}</td>
                <td>{{staff.username}}</td>

            </tr>
            {% endfor %}

        </table>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
</body>

</html>
{% endblock content %}