{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SWOAB</title>
</head>
<div class="page-background">
        
        
{% if user.is_authenticated %}

{% else %}

  <p style="font-size: 14px">You are not logged in</p>

{% endif %}

        


    <div class="container" style="width: 100%; margin-top: 3%">
        {% for post in object_list %}
        <ul class="blog-post columns-2">

                <li style="width: 50% !important; max-width: 100%">
                    <a href="{% url 'post_detail' post.pk %}">

                        <h2 style="font-family: 'Sacramento', cursive;">
                            <a href="{% url 'post_detail' post.pk %}" style="font-size: 60px; color: black !important; text-decoration: none">{{ post.title|truncatechars:100|capfirst }}</a>
                            <p class="meta">{{ post.text|slice:":100"|capfirst }}</p>
                        </h2>
                        <br>
                        
                        {% if post.image.url != blank %}
                        
                            <a href="{% url 'post_detail' post.pk %}"><img src="{{ post.image.url }}" alt="img" style="max-width: 80%"></a>
                            <div style="font-size: 18px; color: black">
                                <p>
                                    Tags: {{post.tags}} <br>
                                    Likes: {{ post.likes.count }}<br>
                                    Comments: {{post.number}}<br>
                                    Uploaded: {{ post.created_date }}<br>
                                    {% if post.author == "swoab" %}
                                        <i class="fa fa-check-square" style="font-size:18px;color:#e2b6b6"></i>
                                    {% endif %}
                                    
                                    By: {{ post.author}}<br>
                                    
                                </p>
                            </div>
                        
                        {% else %}
                        
                            <div style="font-size: 18px; color: black">
                                <p>
                                    Tags: {{post.tags}} <br>
                                    Likes: {{ post.likes.count }}<br>
                                    Comments: {{post.number}}<br>
                                    Uploaded: {{ post.created_date }}<br>
                                    
                                    By: {{ post.author}}
                                {% if post.author|stringformat:"s" == "swoab" %}
                                        <i class="fa fa-check-square" style="font-size:18px;color:#e2b6b6"></i>
                                    
                                {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        <div class="button"><a href="{% url 'post_detail' post.pk %}" style="text-decoration: none; color: black"> Read More </a></div>
                    </a>
                </li>

            </ul>

        </div>



{% endfor %}
    </div>

{% endblock content %}
