{% extends 'base.html' %}
{% block content %}
    <head>
        <title>
            {{ post.title|capfirst|truncatechars:15 }}
        </title>
    </head>
    <div class="post" style="text-align: center">

        <h2>
            {{ object.title|capfirst }}
        </h2>
        <p>
            {{ object.text|capfirst }}
        </p>
        {% if object.image.url != blank %}
            <img src="{{ object.image.url }}" alt="image">

        {% else %}
            <img src="">
        {% endif %}
        <div class="stayAtBottomOfPost">
            <div class="likeBtn">
                {% if user.is_authenticated %}
                    <form method="POST" action="" id="form">
                        {% csrf_token %}
                        <input type="checkbox" id="like" onclick="this.form.submit();" name="like"/>
                        <label for="like">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z"/>
                            </svg>
                            {{ post.likes.count }}
                        </label>
                    </form>
            </div>
                {% endif %}
                    <div class="postAuthor">
                        <p>By:
                            {{ post.author}}
                        </p>
                    </div>
                {% if user.is_authenticated %}
        </div>
    </div>
                    <a href="/" class="button" style="margin: 0; padding: 0; color: white; text-decoration: none; width: 5em; display: block">Home</a>
                    <div class="comments" style="padding-top: 5%">
                        <h4>Leave a comment!</h4>
                        <form method="post" accept-charset="utf-8" action="{% url 'comment_detail' post.pk %}">
                            {% csrf_token %}
                            <label>Your comment:</label>
                        <br>
                            <div id="comment-textarea">
                                {{form.text}}
                            </div>
                            <p><input type="submit" value="Comment" style="font-size: 16px"></p>
                        </form>
                    </div>
                {% else %}
                    <p>You are not logged in!
                            <br>
                                Please login to comment and like</p>
                            <p>
                                <a href="{% url 'login' %}">login</a>
                            </p>
                        </div>
                    {% endif %}
                    {% if post.comments %}
                        {% if user.is_authenticated %}
                            <h4>Comments:</h4>
                        {% endif %}
                    {% endif %}
                    {% for comment in post.comments.all %}
                        {% if comment.approved_comment %}
                            <div class="whole-comment" style="width: 80%; margin: 0 auto; background-color: #f2f2f2;">
                                <div class="comment-text" style="border-top: 2px solid black ">
                                    {{ comment.text|capfirst }}
                                </div>
                                <div class="comment-author" style="padding-top: 3%">
                                    <p style="font-family: none; font-size: 12px">Posted by:
                                        {{ comment.author|capfirst }}
                                    </p>
                                    <p>
                                        {{ comment.created_date }}
                                    </p>
                                    <div class="likeBtn">
                                        {% if user.is_authenticated %}{% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endblock content %}