{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <br> <br>
    <!-- templates/registration/login.html -->
    <div class="loginForm">
        <div class="loginText">
            <h2><a href="{% url 'login' %}" style="color: lightgray">Login</a> Sign up</h2>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="loginUsernameAndPassword">
                <br>
                <label>Username:</label><br>


                <div id="username">
                    {{ form.username }}
                    <p>Letters, digits and @/./+/-/_ only</p>
                </div>


                <label>Password:</label>
                <br>

                <div id="password">
                    {{ form.password1 }}
                    <ul>

                    <li>Your password cannot be too similar to your other personal information</li>
                    <li>Your password must contain at least 8 characters</li>

                    <li>Your password cannot be entirely numeric</li>


                </ul>

                    <label>Confirm password:</label>
                    <br>
                    {{ form.password2 }}
                </div>
                <br>
            </div>
            <br>
            <button type="submit">Sign up</button>
            <a href="/" style="color: white">Cancel</a>
         </form>
        <p>{{form.errors}}</p>
        <br>

    </div>
</body>
</html>

{% endblock content %}